<div class="content">
    <div class="content-container">
        <div class="sub-header">
            <p class="title">New Product</p>
        </div>
        <form [formGroup]="mainForm" class="form">

            <mat-form-field>
                <mat-label>Product Number</mat-label>
                <input matInput readonly placeholder="Product Number" name="productNumber" formControlName="productNumber">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Created Date</mat-label>
                <input matInput readonly placeholder="Date" type="date" name="date" formControlName="date">
            </mat-form-field>

            <div class="divider"></div>

            <mat-form-field>
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="Product Number" name="productName" formControlName="productName">
                <mat-error *ngIf="productName && productName.errors?.minlength">
                    Min length 4
                </mat-error>
                <mat-error *ngIf="productName && productName.errors?.maxlength">
                    Max length 45
                </mat-error>
            </mat-form-field>

            <mat-form-field >
                <mat-label>Product Category</mat-label>
                <mat-select name="category" formControlName="productType">
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{categoriesEnum[category]}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field>
                <mat-label>Available Quantity</mat-label>
                <input matInput placeholder="Quantity" name="quantity" formControlName="quantity">
                <mat-error *ngIf="quantity && quantity.errors?.min">
                    Min value 0
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price" type="number" name="price" formControlName="price">
                <mat-error *ngIf="price && price.errors?.min">
                    Min value 0
                </mat-error>
            </mat-form-field>

            <mat-form-field class="textarea-mr-t">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" name="description" formControlName="description"></textarea>
                <mat-error *ngIf="description && description.errors?.minlength">
                    Min length 4
                </mat-error>
                <mat-error *ngIf="description && description.errors?.maxlength">
                    Max length 45
                </mat-error>
            </mat-form-field>

            <div class="buttons">
                <button [disabled]="mainForm.invalid" mat-stroked-button (click)="createNewProduct()">
                    Save
                </button>
                <button mat-stroked-button (click)="goToCustomersPage()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>