.content{
    display: flex;
    justify-content: center;
    width: 100%;
    .content-container{
        width: 50%;
        table {
            margin-top: 15px;
            width: 100%;
        }
        .spinner{
            margin-top: 150px;
            display: flex;
            justify-content: center;
        }
    }
}