.sub-header{
    height: 36px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
    .title{
        font-size: 18px;
        font-weight: bold;
    }
}