.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-form-field{
        width: 60%;
    }
    .buttons{
        margin-bottom: 80px;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        width: 60%;
        button{
            width: 100px;
            &:first-child{
                margin-right: 30px;
            }
        }
    }
    textarea{
        height: 80px;
    }
    .textarea-mr-t{
        margin-top: 20px;
    }
    .divider{
        width: 60%;
        height: 2px;
        background-color: #f2f2f2;
        margin-bottom: 30px;
    }

    .products-section{
        display: flex;
        flex-direction: column;
        width: 80%;
        .title{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

table {
    border: 1px solid #f2f2f2;
    box-shadow: none;
    margin-top: 15px;
    width: 100%;
    .id-cell{
        cursor: pointer;
        outline: none;
        &:hover{
            color: blue;
        }
    }
}