.content{
    display: flex;
    justify-content: center;
    width: 100%;
    .content-container{
        width: 50%;
        .form{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            mat-form-field{
                width: 60%;
            }
            .buttons{
                margin-top: 15px;
                display: flex;
                justify-content: flex-end;
                width: 60%;
                button{
                    width: 100px;
                    &:first-child{
                        margin-right: 30px;
                    }
                }
            }
            textarea{
                height: 80px;
            }
            .textarea-mr-t{
                margin-top: 20px;
            }
        }
    }
}