.content{
    display: flex;
    justify-content: center;
    width: 100%;
    .content-container{
        width: 60%;
        .sub-header{
            height: 36px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
table {
    margin-top: 15px;
    width: 100%;
    .id-cell{
        cursor: pointer;
        outline: none;
        &:hover{
            color: blue;
        }
    }
}

.mr-l{
    margin-left: 15px;
}